@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif; }

html, body {
  max-width: 100vw;
  overflow-x: hidden; }

body {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 135px;
  background-color: #f9f9f9; }

.button {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  padding: 12px 18px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: #0072ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px; }

.title {
  font-size: 46px;
  line-height: 69px;
  font-weight: 600; }

#fancy-bg {
  width: 200vw;
  height: 1325px;
  position: absolute;
  margin-top: -360px;
  margin-left: -265px;
  transform: rotate(-12deg);
  z-index: -10;
  background: #ffffff;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 1400px) {
    #fancy-bg {
      margin-top: -340px; } }
  @media screen and (max-width: 1200px) {
    #fancy-bg {
      margin-top: -320px; } }

#landing #logo {
  height: 95px;
  margin-left: 200px;
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap; }
  #landing #logo img {
    width: 65px; }
  #landing #logo h2 {
    margin-left: 30px;
    margin-top: 20px; }
#landing .main {
  width: 440px;
  margin-left: 200px;
  margin-top: 205px; }
  #landing .main h2 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700; }
  #landing .main h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    margin-top: 17px; }
  #landing .main .buttons {
    margin-top: 70px; }
    #landing .main .buttons .button {
      margin-right: 45px; }
    #landing .main .buttons :last-child {
      margin-right: 0px; }
#landing .shape {
  width: 730px;
  height: 850px;
  position: absolute;
  top: -210px;
  right: -248px;
  transform: rotate(27.28deg);
  z-index: -10;
  background: linear-gradient(180deg, #0072ff 0%, rgba(255, 255, 255, 0) 100%), #00c6ff;
  border-radius: 35px; }

#get-started {
  width: 1000px;
  margin-top: 130px;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #151718;
  box-shadow: 0px -2px 40px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff; }
  #get-started .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #get-started h3 {
    margin-top: 30px; }
  #get-started .requirements {
    font-size: 22px;
    line-height: 33px;
    margin: 12px 53px 0px 53px; }
    #get-started .requirements strong {
      font-weight: 600; }
  #get-started .code {
    font-size: 16px;
    margin: 53px;
    font-family: "Roboto Mono", monospace; }
    #get-started .code span {
      font-family: "Roboto Mono", monospace; }
    #get-started .code .yellow {
      color: #f2c94c; }
    #get-started .code .blue {
      color: #2d9cdb; }
  #get-started .button {
    margin-bottom: 53px;
    background-color: #f9ca24;
    color: #000000; }

#features {
  margin-top: 80px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  #features .grid-wrapper {
    width: 100%;
    max-width: 1156px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
    #features .grid-wrapper .grid {
      width: 100%;
      max-width: calc(100% - 128px);
      margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-gap: 64px;
      justify-content: center; }
      #features .grid-wrapper .grid .card {
        width: 300px;
        height: 323px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: #f9f9f9;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 4px; }
        #features .grid-wrapper .grid .card img {
          height: 120px; }
        #features .grid-wrapper .grid .card h4 {
          font-size: 28px;
          line-height: 42px;
          font-weight: 600;
          margin: 12px 0; }
        #features .grid-wrapper .grid .card p {
          width: 230px;
          height: 48px;
          font-size: 16px;
          line-height: 24px;
          text-align: center; }

#about {
  margin-top: 250px; }
  #about h3 {
    text-align: center; }
  #about .wrapper {
    margin: 70px 200px 0 200px; }
    #about .wrapper .main {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, calc(50% - 70px));
      grid-gap: 70px;
      justify-content: center;
      align-items: center; }
      #about .wrapper .main p {
        font-size: 18px;
        line-height: 21px;
        font-family: "Roboto", monospace; }
      #about .wrapper .main .authors {
        margin-top: 25px; }
        #about .wrapper .main .authors h4 {
          font-size: 22px;
          line-height: 33px;
          font-weight: 700; }
        #about .wrapper .main .authors ul {
          margin-top: 10px;
          margin-left: 25px; }
          #about .wrapper .main .authors ul li {
            font-size: 18px;
            line-height: 21px;
            font-family: "Roboto", monospace; }
      #about .wrapper .main img {
        width: 100%; }

#contact {
  margin-top: 100px;
  padding-left: 135px;
  padding-right: 135px;
  text-align: center; }
  #contact p {
    font-size: 18px;
    line-height: 21px;
    margin-top: 35px;
    font-family: "Roboto", monospace; }
    #contact p a {
      font-family: inherit; }

@media screen and (max-width: 1400px) {
  body #landing .main {
    margin-top: 130px; }
    body #landing .main .buttons {
      margin-top: 50px; }
  body #landing .shape {
    top: -285px;
    right: -325px; } }
@media screen and (max-width: 1250px) {
  body #landing .main {
    margin-top: 115px; }
  body #landing .shape {
    top: -300px;
    right: -375px; }
  body #about .wrapper {
    margin-left: 100px;
    margin-right: 100px; } }
@media screen and (max-width: 1200px) {
  body #landing .shape {
    right: -450px; } }
@media screen and (max-width: 1155px) {
  body #fancy-bg-wrapper #fancy-bg {
    height: 1700px; } }
@media screen and (max-width: 1100px) {
  body #landing .shape {
    right: -550px; }
  body #get-started {
    width: 100%; } }
@media screen and (max-width: 1000px) {
  body #landing #logo {
    margin-left: 30px; }
  body #landing .main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto; }
  body #landing .shape {
    top: -500px;
    right: -600px; }
  body #about .wrapper {
    margin-top: 40px; }
    body #about .wrapper .main {
      grid-template-columns: 100%;
      grid-template-areas: "image" "text" "text"; }
      body #about .wrapper .main p {
        grid-area: text; }
      body #about .wrapper .main .authors {
        margin-top: 35px;
        grid-area: text; }
      body #about .wrapper .main img {
        max-width: 550px;
        margin: 0 auto;
        grid-area: image; }
  body #contact {
    margin-top: 35px;
    padding-left: 100px;
    padding-right: 100px; } }
@media screen and (max-width: 791px) {
  body #fancy-bg-wrapper #fancy-bg {
    height: 2850px;
    margin-left: -350px; } }
@media screen and (max-width: 625px) {
  body #landing {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    body #landing #logo {
      height: 58px;
      margin-left: 0px; }
      body #landing #logo img {
        width: 45px; }
      body #landing #logo h2 {
        font-size: 28px;
        line-height: 42px;
        margin-left: 30px;
        margin-top: 15px; }
    body #landing .main {
      width: 262px;
      margin-top: 60px; }
      body #landing .main h2 {
        font-size: 36px;
        line-height: 54px; }
      body #landing .main h1 {
        font-size: 18px;
        line-height: 27px; }
      body #landing .main .buttons {
        margin-top: 36px;
        text-align: center; }
        body #landing .main .buttons .button {
          width: 151px;
          margin-right: 0px;
          margin-bottom: 20px; }
    body #landing .shape {
      display: none; }
  body #get-started {
    margin-top: 75px; }
    body #get-started .title {
      font-size: 28px;
      line-height: 42px; }
    body #get-started .requirements {
      font-size: 18px;
      line-height: 27px; }
  body #fancy-bg-wrapper #fancy-bg {
    height: 2800px;
    width: 400vw; }
  body #features .grid {
    margin-top: 35px; }
  body #about .wrapper {
    margin-left: 35px;
    margin-right: 35px; }
    body #about .wrapper .main {
      grid-gap: 35px; }
  body #contact {
    padding-left: 35px;
    padding-right: 35px; } }
@media screen and (max-width: 390px) {
  body #features .grid-wrapper .grid {
    grid-template-columns: repeat(auto-fill, 250px); }
    body #features .grid-wrapper .grid .card {
      width: 250px; } }

/*# sourceMappingURL=style.css.map */
