#about {
    // Position
    margin-top: 250px;

    h3 {
        // Position
        text-align: center;
    }

    .wrapper {
        // Position
        margin: 70px 200px 0 200px;

        .main {
            // Size
            width: 100%;

            // Position
            display: grid;
            grid-template-columns: repeat(auto-fill, calc(50% - 70px));
            grid-gap: 70px;
            justify-content: center;
            align-items: center;

            p {
                // Size
                font-size: 18px;
                line-height: 21px;

                // Visual
                font-family: $roboto;
            }

            .authors {
                // Position
                margin-top: 25px;

                h4 {
                    // Size
                    font-size: 22px;
                    line-height: 33px;
                    font-weight: 700;
                }

                ul {
                    // Position
                    margin-top: 10px;
                    margin-left: 25px;

                    li {
                        // Size
                        font-size: 18px;
                        line-height: 21px;

                        // Visual
                        font-family: $roboto;
                    }
                }
            }

            img {
                // Size
                width: 100%;
            }
        }
    }
}