#contact {
    // Position
    margin-top: 100px;
    padding-left: 135px;
    padding-right: 135px;
    text-align: center;

    p {
        // Size
        font-size: 18px;
        line-height: 21px;

        // Position
        margin-top: 35px;

        // Visual
        font-family: $roboto;

        a {
            // Visual
            font-family: inherit;
        }
    }
}