#features {
    // Position
    margin-top: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .grid-wrapper {
        // Size
        width: 100%;
        max-width: 1156px;

        // Position
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .grid {
            // Size
            width: 100%;
            max-width: calc(100% - 128px);

            // Position
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-gap: 64px;
            justify-content: center;

            .card {
                // Size
                width: 300px;
                height: 323px;

                // Position
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                // Visual
                background: $background;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                border-radius: 4px;

                img {
                    // Size
                    height: 120px;
                }

                h4 {
                    // Size
                    font-size: 28px;
                    line-height: 42px;
                    font-weight: 600;

                    // Position
                    margin: 12px 0;
                }

                p {
                    // Size
                    width: 230px;
                    height: 48px;
                    font-size: 16px;
                    line-height: 24px;

                    // Position
                    text-align: center;
                }
            }
        }
    }
}