#get-started {
    // Size
    width: 1000px;

    // Position
    margin-top: 130px;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    // Visual
    background: #151718;
    box-shadow: 0px -2px 40px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #ffffff;

    .unselectable {
        // Disable selction of the title, to improve the UX when selecting the code to get started (https://stackoverflow.com/a/9314458)
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h3 {
        // Position
        margin-top: 30px;
    }

    .requirements {
        // Size
        font-size: 22px;
        line-height: 33px;

        // Position
        margin: 12px 53px 0px 53px;

        strong {
            // Size
            font-weight: 600;
        }
    }

    .code {
        // Size
        font-size: 16px;

        // Position
        margin: 53px;

        // Visual
        font-family: $roboto-mono;

        span {
            // Visual
            font-family: $roboto-mono;
        }

        .yellow {
            // Visual
            color: #f2c94c;
        }

        .blue {
            // Visual
            color: #2d9cdb;
        }
    }

    .button {
        // Position
        margin-bottom: 53px;

        // Visual
        background-color: #f9ca24;
        color: #000000;
    }
}