* {
    // Position
    padding: 0px;
    margin: 0px;

    // Visual
    font-family: $poppins;
}

html, body {
    // Size & Position
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    // Position
    display: flex;
    flex-flow: column nowrap;

    // Position
    margin-bottom: 135px;

    // Visual
    background-color: $background;
}

.button {
    // Size
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    padding: 12px 18px;

    // Position
    display: inline-block;

    // Visual
    text-decoration: none;
    color: #ffffff;
    background: #0072ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.title {
    // Size
    font-size: 46px;
    line-height: 69px;
    font-weight: 600;

}