#landing {
    #logo {
        // Size
        height: 95px;

        // Position
        margin-left: 200px;
        margin-top: 30px;
        display: flex;
        flex-flow: row nowrap;

        img {
            // Size
            width: 65px;
        }

        h2 {
            // Position
            margin-left: 30px;
            margin-top: 20px;
        }
    }

    .main {
        // Size
        width: 440px;

        // Position
        margin-left: 200px;
        margin-top: 205px;

        h2 {
            // Size
            font-size: 60px;
            line-height: 90px;
            font-weight: 700;
        }

        h1 {
            // Size
            font-size: 24px;
            line-height: 36px;
            font-weight: 500;

            // Position
            margin-top: 17px;
        }

        .buttons {
            // Position
            margin-top: 70px;

            .button {
                // Position
                margin-right: 45px;
            }

            :last-child {
                // Position
                margin-right: 0px;
            }
        }
    }

    .shape {
        // Size
        width: 730px;
        height: 850px;

        // Position
        position: absolute;
        top: -210px;
        right: -248px;
        transform: rotate(27.28deg);
        z-index: -10;

        // Visual
        background: linear-gradient(180deg, #0072ff 0%, rgba(255, 255, 255, 0) 100%), #00c6ff;
        border-radius: 35px;
    }
}