body {
    @media screen and (max-width: 1400px) {
        #landing {
            .main {
                // Position
                margin-top: 130px;

                .buttons {
                    // Position
                    margin-top: 50px;
                }
            }

            .shape {
                // Position
                top: -285px;
                right: -325px;
            }
        }
    }

    @media screen and (max-width: 1250px) {
        #landing {
            .main {
                // Position
                margin-top: 115px;
            }

            .shape {
                // Position
                top: -300px;
                right: -375px;
            }
        }

        #about {
            .wrapper {
                // Postion
                margin-left: 100px;
                margin-right: 100px;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        #landing {
            .shape {
                // Position
                right: -450px;
            }
        }
    }

    @media screen and (max-width: 1155px) {
        #fancy-bg-wrapper {
            #fancy-bg {
                // Size
                height: 1700px;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        #landing {
            .shape {
                // Position
                right: -550px;
            }
        }

        #get-started {
            // Size
            width: 100%;
        }
    }

    @media screen and (max-width: 1000px) {
        #landing {
            #logo {
                // Position
                margin-left: 30px;
            }

            .main {
                // Position
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
            }

            .shape {
                // Position
                top: -500px;
                right: -600px;
            }
        }

        #about {
            .wrapper {
                // Position
                margin-top: 40px;

                .main {
                    // Position
                    grid-template-columns: 100%;
                    grid-template-areas:
                        "image"
                        "text"
                        "text";

                    p {
                        // Position
                        grid-area: text;
                    }

                    .authors {
                        // Position
                        margin-top: 35px;
                        grid-area: text;
                    }

                    img {
                        // Size
                        max-width: 550px;

                        // Position
                        margin: 0 auto;
                        grid-area: image;
                    }
                }
            }
        }

        #contact {
            // Position
            margin-top: 35px;
            padding-left: 100px;
            padding-right: 100px;
        }
    }

    @media screen and (max-width: 791px) {
        #fancy-bg-wrapper {
            #fancy-bg {
                // Size
                height: 2850px;

                // Position
                margin-left: -350px;
            }
        }
    }

    @media screen and (max-width: 625px) {
        #landing {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            #logo {
                // Size
                height: 58px;

                // Position
                margin-left: 0px;

                img {
                    // Size
                    width: 45px;
                }

                h2 {
                    // Size
                    font-size: 28px;
                    line-height: 42px;

                    // Position
                    margin-left: 30px;
                    margin-top: 15px;
                }
            }

            .main {
                // Size
                width: 262px;

                // Position
                margin-top: 60px;

                h2 {
                    // Size
                    font-size: 36px;
                    line-height: 54px;
                }

                h1 {
                    // Size
                    font-size: 18px;
                    line-height: 27px;
                }

                .buttons {
                    // Position
                    margin-top: 36px;
                    text-align: center;

                    .button {
                        // Size
                        width: 151px;

                        // Position
                        margin-right: 0px;
                        margin-bottom: 20px;
                    }
                }
            }

            .shape {
                display: none;
            }
        }

        #get-started {
            // Position
            margin-top: 75px;

            .title {
                // Size
                font-size: 28px;
                line-height: 42px;
            }

            .requirements {
                // Size
                font-size: 18px;
                line-height: 27px;
            }
        }

        #fancy-bg-wrapper {
            #fancy-bg {
                // Size
                height: 2800px;
                width: 400vw;
            }
        }

        #features {
            .grid {
                // Position
                margin-top: 35px;
            }
        }

        #about {
            .wrapper {
                // Position
                margin-left: 35px;
                margin-right: 35px;

                .main {
                    // Position
                    grid-gap: 35px;
                }
            }
        }

        #contact {
            // Position
            padding-left: 35px;
            padding-right: 35px;
        }
    }

    @media screen and (max-width: 390px) {
        #features {
            .grid-wrapper {
                .grid {
                    grid-template-columns: repeat(auto-fill, 250px);
                    .card {
                        // Size
                        width: 250px;
                    }
                }
            }
        }
    }
}